{{ define "main" }}

<section class="container">
    <h2 class="block-title" id="medias">Videos</h2>
    <div class="row">
        <div class="youtube-wrapper text-center">
            <div class="col-md-3 col-md-4 col-sm-offset-2 col-md-offset-2">
                <div class="gallery-item">
                    <div class="image-container image-container--border-inner image-container--border-small">
                        {{ partial "img.html" (dict "src" "images/medias/emulationstation2fr-4-1024x575.jpg") }}
                    </div>

                    <div class="gallery-item__info desktop-small">
                        <h3 class="gallery-item__heading">{{ i18n "video_snes" }}</h3>
                        <p class="gallery-item__author">{{ i18n "video_snes2" }}</p>
                        <a class="btn btn-warning btn--decorated gallery-item__link popup-youtube"
                            href="https://www.youtube.com/watch?v=Rxwj_Lf78Bg">Play</a>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-md-4">
                <div class="gallery-item">
                    <div class="image-container image-container--border-inner image-container--border-small">
                        {{ partial "img.html" (dict "src" "images/medias/video2.jpg") }}
                    </div>

                    <div class="gallery-item__info desktop-small">
                        <h3 class="gallery-item__heading">{{ i18n "video_psx_title" }}</h3>
                        <p class="gallery-item__author">{{ i18n "video_psx_desc" }}</p>
                        <a class="btn btn-warning btn--decorated gallery-item__link popup-youtube"
                            href="https://www.youtube.com/watch?v=G4YJni-sybU">Play</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="container">
    <h2 class="block-title" id="medias">Recalbox Projects</h2>

    <div class="row">
        <div class="gallery-wrapper">
            <div class="col-md-3">
                <div class="gallery-item">
                    <div class="image-container image-container--border-inner image-container--border-small">
                        {{ partial "img.html" (dict "src" "images/medias/mgoulart-cab.jpg") }}
                    </div>

                    <div class="gallery-item__info desktop-small">
                        <h3 class="gallery-item__heading">{{ i18n "mgoularttitle" }}</h3>
                        <p class="gallery-item__author">{{ i18n "mgoulartdesc" }}</p>
                        <a class="btn btn-warning btn--decorated  gallery-item__link"
                            href='{{ "images/medias/mgoulart-cab.jpg" | relURL }}'>Zoom</a>
                    </div>
                </div>
            </div><!-- end col -->
            <div class="col-md-3">
                <div class="gallery-item">
                    <div class="image-container image-container--border-inner image-container--border-small">
                        {{ partial "img.html" (dict "src" "images/medias/recalstick.jpg") }}
                    </div>

                    <div class="gallery-item__info desktop-small">
                        <h3 class="gallery-item__heading">Recalstick</h3>
                        <p class="gallery-item__author">{{ i18n "recalstickdesc" }}</p>
                        <a class="btn btn-warning btn--decorated  gallery-item__link"
                            href='{{ "images/medias/recalstick.jpg" | relURL }}'>Zoom</a>
                    </div>
                </div>
            </div><!-- end col -->
            <div class="col-md-3">
                <div class="gallery-item">
                    <div class="image-container image-container--border-inner image-container--border-small">
                        {{ partial "img.html" (dict "src" "images/medias/nes.jpg") }}
                    </div>

                    <div class="gallery-item__info desktop-small">
                        <h3 class="gallery-item__heading">Recalnes</h3>
                        <p class="gallery-item__author">{{ i18n "recalnesdesc" }}</p>
                        <a class="btn btn-warning btn--decorated  gallery-item__link"
                            href='{{ "images/medias/nes.jpg" | relURL }}'>Zoom</a>
                    </div>
                </div>
            </div><!-- end col -->
            <div class="col-md-3">
                <div class="gallery-item">
                    <div class="image-container image-container--border-inner image-container--border-small">
                        {{ partial "img.html" (dict "src" "images/medias/mslug2.jpg") }}
                    </div>

                    <div class="gallery-item__info desktop-small">
                        <h3 class="gallery-item__heading">{{ i18n "metalslugcabtitle" }}</h3>
                        <p class="gallery-item__author">{{ i18n "metalslugcabdesc" }}</p>
                        <a class="btn btn-warning btn--decorated  gallery-item__link"
                            href='{{ "images/medias/mslug2.jpg" | relURL }}'>Zoom</a>
                    </div>
                </div>
            </div><!-- end col -->
        </div>
    </div>
</section>

<section class="container">
    <h2 class="block-title" id="medias">Images</h2>

    <div class="row">
        <div class="gallery-wrapper">
            <div class="row">
                <div class="col-md-3">
                    <div class="gallery-item">
                        <div class="image-container image-container--border-inner image-container--border-small">
                            {{ partial "img.html" (dict "src" "images/medias/boxes-m.jpg") }}
                        </div>

                        <div class="gallery-item__info desktop-small">
                            <h3 class="gallery-item__heading">{{ i18n "recalboxes" }}</h3>
                            <p class="gallery-item__author">{{ i18n "choosemodel" }}</p>
                            <a class="btn btn-warning btn--decorated gallery-item__link"
                                href='{{ "images/medias/boxes-m.jpg" | relURL }}'>Zoom</a>
                        </div>
                    </div>
                </div><!-- end col -->
                <div class="col-md-3">
                    <div class="gallery-item">
                        <div class="image-container image-container--border-inner image-container--border-small">
                            {{ partial "img.html" (dict "src" "images/medias/gauntlet.jpeg") }}
                        </div>

                        <div class="gallery-item__info desktop-small">
                            <h3 class="gallery-item__heading">Gauntlet Arcade</h3>
                            <p class="gallery-item__author">{{ i18n "playble4" }}</p>
                            <a class="btn btn-warning btn--decorated gallery-item__link popup_img"
                                href='{{ "images/medias/gauntlet.jpeg" | relURL }}'>Zoom</a>
                        </div>
                    </div>
                </div><!-- end col -->
                <div class="col-md-3">
                    <div class="gallery-item">
                        <div class="image-container image-container--border-inner image-container--border-small">
                            {{ partial "img.html" (dict "src" "images/medias/Chrono-Cross-2.jpg") }}
                        </div>

                        <div class="gallery-item__info desktop-small">
                            <h3 class="gallery-item__heading">Chronos Chross</h3>
                            <p class="gallery-item__author">{{ i18n "chronodesc" }}</p>
                            <a class="btn btn-warning btn--decorated gallery-item__link"
                                href='{{ "images/medias/Chrono-Cross-2.jpg" | relURL }}'>Zoom</a>
                        </div>
                    </div>
                </div><!-- end col -->
                <div class="col-md-3">
                    <div class="gallery-item">
                        <div class="image-container image-container--border-inner image-container--border-small">
                            {{ partial "img.html" (dict "src" "images/medias/game-m.jpg") }}
                        </div>

                        <div class="gallery-item__info desktop-small">
                            <h3 class="gallery-item__heading">Recalbox Standard</h3>
                            <p class="gallery-item__author">{{ i18n "littlepower" }}</p>
                            <a class="btn btn-warning btn--decorated gallery-item__link"
                                href='{{ "images/medias/game.jpg" | relURL }}'>Zoom</a>
                        </div>
                    </div>
                </div><!-- end col -->
            </div>
            <div class="row">

                <div class="col-md-3">
                    <div class="gallery-item">
                        <div class="image-container image-container--border-inner image-container--border-small">
                            {{ partial "img.html" (dict "src" "images/medias/pacman.jpeg") }}
                        </div>

                        <div class="gallery-item__info desktop-small">
                            <h3 class="gallery-item__heading">Pacman</h3>
                            <p class="gallery-item__author">{{ i18n "backintime" }}</p>
                            <a class="btn btn-warning btn--decorated gallery-item__link"
                                href='{{ "images/medias/pacman.jpeg" | relURL }}'>Zoom</a>
                        </div>
                    </div>
                </div><!-- end col -->
                <div class="col-md-3">
                    <div class="gallery-item">
                        <div class="image-container image-container--border-inner image-container--border-small">
                            {{ partial "img.html" (dict "src" "images/medias/yoshi.jpg") }}
                        </div>

                        <div class="gallery-item__info desktop-small">
                            <h3 class="gallery-item__heading">Yoshi Strange Quest</h3>
                            <p class="gallery-item__author">{{ i18n "hacks" }}</p>
                            <a class="btn btn-warning btn--decorated gallery-item__link"
                                href='{{ "images/medias/yoshi.jpg" | relURL }}'>Zoom</a>
                        </div>
                    </div>
                </div><!-- end col -->
                <div class="col-md-3">
                    <div class="gallery-item">
                        <div class="image-container image-container--border-inner image-container--border-small">
                            {{ partial "img.html" (dict "src" "images/medias/saga.jpg") }}
                        </div>

                        <div class="gallery-item__info desktop-small">
                            <h3 class="gallery-item__heading">Saga Frontier 2</h3>
                            <p class="gallery-item__author">{{ i18n "sagefrontier2" }}</p>
                            <a class="btn btn-warning btn--decorated gallery-item__link"
                                href='{{ "images/medias/saga.jpg" | relURL }}'>Zoom</a>
                        </div>
                    </div>
                </div><!-- end col -->
                <div class="col-md-3">
                    <div class="gallery-item">
                        <div class="image-container image-container--border-inner image-container--border-small">
                            {{ partial "img.html" (dict "src" "images/medias/sunset.jpg") }}
                        </div>

                        <div class="gallery-item__info desktop-small">
                            <h3 class="gallery-item__heading">Sunset Rider</h3>
                            <p class="gallery-item__author">{{ i18n "degommez" }}</p>
                            <a class="btn btn-warning btn--decorated gallery-item__link"
                                href='{{ "images/medias/sunset.jpg" | relURL }}'>Zoom</a>
                        </div>
                    </div>
                </div><!-- end col -->
            </div>
        </div>
    </div>
</section>
<script src='{{ "/allec/external/magnific-popup/jquery.magnific-popup.min.js" | relURL }}'></script>
<script>
    $(document).ready(function () {

        $('.gallery-wrapper').magnificPopup({
            delegate: 'a.gallery-item__link',
            type: 'image',
            tLoading: 'Loading image #%curr%...',
            mainClass: 'mfp-img-mobile',
            gallery: {
                enabled: true,
                navigateByImgClick: true,
                preload: [0, 1] // Will preload 0 - before current, and 1 after the current image
            },
            image: {
                tError: '<a href="%url%">The image #%curr%</a> could not be loaded.'
            }
        });

        $('.youtube-wrapper').magnificPopup({
            delegate: 'a',

            disableOn: 700,
            type: 'iframe',
            mainClass: 'mfp-fade',
            removalDelay: 160,
            preloader: false,

            fixedContentPos: false
        });
    });
</script>
{{ end }}