{{ define "main" }}
<div class="devider-color devider-color--onepage"></div>


<div class="block">
    <div class="jumbotron">
        <section class="container bubble-container">
            <div>
                <h1>{{ i18n "jumbo_title" | safeHTML}}</h1>
                <h2>{{ i18n "jumbo_subtitle" | safeHTML}}</h2>
            </div>
            <div class="jumbo-separator"></div>
            <div class="row">
                <div class="col-sm-6 jumbo-split">
                    <div class="jumbo-split-title">{{ i18n "jumbo_left_title" | safeHTML}}</div>
                    <div class="jumbo-split-subtitle">
                        {{ i18n "jumbo_left_subtitle" | safeHTML}}
                    </div>
                    <div class="jumbo-link">
                        <a href="{{ i18n "jumbo_left_link" }}" class="jumbo-btn">
                            {{ i18n "jumbo_left_link_text" | safeHTML}}
                        </a>
                    </div>
                </div>
                <div class="col-sm-6 jumbo-split">
                    <div class="jumbo-split-title">{{ i18n "jumbo_right_title" | safeHTML}}</div>
                    <div class="jumbo-split-subtitle">
                        {{ i18n "jumbo_right_subtitle" | safeHTML}}
                    </div>
                    <div class="jumbo-link">
                        <a href="{{ i18n "jumbo_right_link" }}" class="jumbo-btn">
                            {{ i18n "jumbo_right_link_text" | safeHTML}}
                        </a>
                    </div>
                    <div class="jumbo-extra">
                        <span>Version {{ i18n "current_version" | safeHTML}}</span>
                    </div>
                </div>
        </section>
    </div>
</div>


<div class="block">
    <section class="container bubble-container" id="about" style="padding-top: 50px ;
            padding-bottom: 100px ;">
        <div class="row">
            <div class="col-sm-5">
                <h2 class="heading-cascade heading-cascade--large heading-cascade--danger" data-selector="h2" style="outline: none ;
                        cursor: default ;"><span class="heading-cascade__step">{{ i18n "about1" }}</span>
                    {{ i18n "therecalbox" }}</h2>
                <p class="p-space" data-selector="p" style="outline: none ;
                        cursor: default ;">{{ i18n "about2" | safeHTML}}</p>
            </div><!-- end col -->
            <div class="col-sm-7">
                <div class="bubble-block">
                    <div class="bubble bubble--little bubble--info bubble--start"></div>
                    <div class="bubble bubble--little bubble--info bubble--position"></div>
                    <div class="bubble bubble--small bubble--neutral"></div>
                    <div class="bubble bubble--normal bubble--danger">
                        <div class="icon__item">
                            <i class="fa fa-linux" data-selector="i.fa" id="ui-id-5" style="outline: none;
                                    cursor: default;
                                    color: rgb(255, 255, 255);
                                    font-size: 30px;
                                    padding-top: 10px;"></i>
                        </div>
                    </div>
                    <div class="bubble bubble--medium bubble--neutral">
                        <div class="icon__item">
                            <i class="fa fa-cloud" data-selector="i.fa" style="outline: none;
                                    cursor: default;
                                    font-size: 35px;
                                    padding-top: 10px"></i>
                        </div>
                    </div>
                    <div class="bubble bubble--medium bubble--danger">
                        <div class="icon__item">
                            <i class="fa fa-sitemap" data-selector="i.fa" id="ui-id-7" style="outline: none;
                                    cursor: default;
                                    color: rgb(255, 255, 255);
                                    font-size: 30px;
                                    padding-top: 5px;"></i>
                        </div>
                    </div>
                    <div class="bubble bubble--big bubble--warning">
                        <div class="icon__item icon__item--top">
                            <i class="fa fa-desktop" data-selector="i.fa" id="ui-id-8" style="outline: none;
                                    cursor: default;
                                    color: rgb(255, 255, 255);
                                    font-size: 42px;
                                    padding-top: 10px;"></i>
                        </div>
                    </div>
                    <div class="bubble bubble--large bubble--neutral">
                        <div class="icon__item">
                            <i class="fa fa-wifi" data-selector="i.fa" id="ui-id-6" style="outline: none;
                                    cursor: default;
                                    color: rgb(255, 255, 255);
                                    font-size: 56px;"></i>
                        </div>
                    </div>
                    <div class="bubble bubble--huge bubble--info">
                        <div class="icon__item">
                            <i class="fa fa-gamepad" data-selector="i.fa" id="ui-id-4" style="outline: none;
                                    cursor: default;
                                    color: rgb(255, 255, 255);
                                    font-size: 60px;
                                    padding-top: 5px;"></i>
                        </div>
                    </div>
                </div>
            </div><!-- end col -->
        </div><!-- end row -->
    </section><!-- end container -->
</div>
<div class="block">
    <section class="container">
        <div class="row">
            <div class="col-md-12 col-lg-6 col-sm-12">
                <!-- Sevrice lagre with colored variant icon-->
                <div class="service service--colored-large">
                    <div class="icon icon--border icon--cloud">
                        <i class="icon__item fa icon__item--warning fa-gamepad" data-selector="i.fa" style="outline: none ;
                                cursor: default ;
                                color: rgb (254, 211, 127) ;
                                font-size: 100px ;" id="ui-id-9"></i>
                    </div>
                    <div class="service__info">
                        <h3 class="service__heading" data-selector="h3" style="outline: none ;
                                cursor: default ;">{{ i18n "retrogaming" }}</h3>
                        <p data-selector="p" style="outline: none ;
                                cursor: default ;">{{ i18n "retrogaming2" }}</p>
                    </div>
                </div>
                <!-- end sevrice lagre with colored variant icon -->
            </div><!-- end col -->
            <div class="col-md-12 col-lg-6 col-sm-12">
                <!-- Sevrice lagre with colored variant icon-->
                <div class="service service--colored-large service--reverse">
                    <div class="service__info">
                        <h3 class="service__heading" data-selector="h3" style="outline: none ;
                                cursor: default ;">
                            Media Center</h3>
                        <p data-selector="p" style="outline: none ;
                                cursor: default ;">{{ i18n "mediacenter" }} </p>
                    </div>
                    <div class="icon icon--border icon--users">
                        <i class="icon__item fa fa-film icon__item--secondary" data-selector="i.fa" style="outline: none ;
                                cursor: default ;"></i>
                    </div>
                </div>
                <!-- end sevrice lagre with colored variant icon -->
            </div><!-- end col -->
        </div><!-- end row -->
    </section>
</div>
<section class="container text-center hidden-xs">
    <h2 class="block-title block-title--top-larger" id="interface">{{ i18n "minterface" }}</h2>
    <iframe src="/anim/index.html" width="800px" height="620px" frameBorder="0"></iframe>
</section>
<section class="container">
    <h2 class="block-title block-title--top-larger" id="systems">{{ i18n "supportedsystems" }}</h2>
    <div class="row animated-services">
        <div class="col-sm-6">
            <div class="service-container">
                <!-- Sevrice preview -->
                <div class="row">
                    <div class="one-column col-xs-12 col-sm-12 service service--large-present service--reflow ">
                        <div class="icon icon--animate icon--shape">
                            <div class="icon__item">
                                <img src="/images/arcade-mini.gif" />
                            </div>
                        </div>
                        <a class="service__link" href="#">
                            <h3 class="service__heading">Arcade</h3>
                        </a>
                        <p>{{ i18n "sarcade" }}</p>
                    </div>
                </div>
                <!-- end sevrice preview -->
                <!-- Sevrice preview -->
                <div class="row">
                    <div class="one-column col-xs-12 col-sm-12 service service--large-present service--reflow ">
                        <div class="icon icon--animate icon--shape">
                            <div class="icon__item">
                                <img src="/images/nes-mini.png" />
                            </div>
                        </div>
                        <a class="service__link" href="#">
                            <h3 class="service__heading">Nes</h3>
                        </a>
                        <p>{{ i18n "snes" }}</p>
                    </div>
                </div>
                <!-- end sevrice preview -->
                <!-- Sevrice preview -->
                <div class="row">
                    <div class="one-column col-xs-12 col-sm-12 service service--large-present service--reflow ">
                        <div class="icon icon--animate icon--shape">
                            <div class="icon__item">
                                <img src="/images/snes-mini.png" />
                            </div>
                        </div>
                        <a class="service__link" href="#">
                            <h3 class="service__heading">Super Nintendo</h3>
                        </a>
                        <p>{{ i18n "ssnes" }}</p>
                    </div>
                </div>
                <div class="row">
                    <div class="one-column col-xs-12 col-sm-12 service service--large-present service--reflow ">
                        <div class="icon icon--animate icon--shape">
                            <div class="icon__item">
                                <img src="/images/psx-mini.png" />
                            </div>
                        </div>
                        <a class="service__link" href="#">
                            <h3 class="service__heading">Playstation</h3>
                        </a>
                        <p>{{ i18n "spsx" }}</p>
                    </div>
                </div>
                <div class="row">
                    <div class="one-column col-xs-12 col-sm-12 service service--large-present service--reflow ">
                        <div class="icon icon--animate icon--shape">
                            <div class="icon__item">
                                <img src="/images/gb-mini.png" />
                            </div>
                        </div>
                        <a class="service__link" href="#">
                            <h3 class="service__heading">Game Boy</h3>
                        </a>
                        <p>{{ i18n "sgb" }}</p>
                    </div>
                </div>
                <div class="row">
                    <div class="one-column col-xs-12 col-sm-12 service service--large-present service--reflow ">
                        <div class="icon icon--animate icon--shape">
                            <div class="icon__item">
                                <img src="/images/atari7800.png" />
                            </div>
                        </div>
                        <a class="service__link" href="#">
                            <h3 class="service__heading">Atari 7800</h3>
                        </a>
                        <p>{{ i18n "satari7800" }}</p>
                    </div>
                </div>
                <div class="row">
                    <div class="one-column col-xs-12 col-sm-12 service service--large-present service--reflow ">
                        <div class="icon icon--animate icon--shape">
                            <div class="icon__item">
                                <img src="/images/pce-mini.png" />
                            </div>
                        </div>
                        <a class="service__link" href="#">
                            <h3 class="service__heading">PC Engine (CD)</h3>
                        </a>
                        <p>{{ i18n "spce" }}</p>
                    </div>
                </div>
                <div class="row">
                    <div class="one-column col-xs-12 col-sm-12 service service--large-present service--reflow ">
                        <div class="icon icon--animate icon--shape">
                            <div class="icon__item">
                                <img src="/images/sg1000-mini.png" />
                            </div>
                        </div>
                        <a class="service__link" href="#">
                            <h3 class="service__heading">Sega SG1000</h3>
                        </a>
                        <p>{{ i18n "ssg1000" }}</p>
                    </div>
                </div>
                <div class="row">
                    <div class="one-column col-xs-12 col-sm-12 service service--large-present service--reflow ">
                        <div class="icon icon--animate icon--shape">
                            <div class="icon__item">
                                <img src="/images/n64-mini.png" />
                            </div>
                        </div>
                        <a class="service__link" href="#">
                            <h3 class="service__heading">Nintendo 64</h3>
                        </a>
                        <p>{{ i18n "sn64" }}</p>
                    </div>
                </div>
                <div class="row">
                    <div class="one-column col-xs-12 col-sm-12 service service--large-present service--reflow ">
                        <div class="icon icon--animate icon--shape">
                            <div class="icon__item">
                                <img src="/images/segacd-mini.png" />
                            </div>
                        </div>
                        <a class="service__link" href="#">
                            <h3 class="service__heading">Sega CD</h3>
                        </a>
                        <p>{{ i18n "ssegacd" }}</p>
                    </div>
                </div>
                <div class="row">
                    <div class="one-column col-xs-12 col-sm-12 service service--large-present service--reflow ">
                        <div class="icon icon--animate icon--shape">
                            <div class="icon__item">
                                <img src="/images/gameandwatch.png" />
                            </div>
                        </div>
                        <a class="service__link" href="#">
                            <h3 class="service__heading">Game and Watch</h3>
                        </a>
                        <p>{{ i18n "sgaw" }}</p>
                    </div>
                </div>
                <div class="row">
                    <div class="one-column col-xs-12 col-sm-12 service service--large-present service--reflow ">
                        <div class="icon icon--animate icon--shape">
                            <div class="icon__item">
                                <img src="/images/vectrex.png" />
                            </div>
                        </div>
                        <a class="service__link" href="#">
                            <h3 class="service__heading">Vectrex</h3>
                        </a>
                        <p>{{ i18n "svectrex" }}</p>
                    </div>
                </div>
                <div class="row">
                    <div class="one-column col-xs-12 col-sm-12 service service--large-present service--reflow ">
                        <div class="icon icon--animate icon--shape">
                            <div class="icon__item">
                                <img src="/images/virtualboy.png" />
                            </div>
                        </div>
                        <a class="service__link" href="#">
                            <h3 class="service__heading">Virtual Boy</h3>
                        </a>
                        <p>{{ i18n "svirtualboy" }}</p>
                    </div>
                </div>
                <div class="row">
                    <div class="one-column col-xs-12 col-sm-12 service service--large-present service--reflow ">
                        <div class="icon icon--animate icon--shape">
                            <div class="icon__item">
                                <img src="/images/wonderswan.png" />
                            </div>
                        </div>
                        <a class="service__link" href="#">
                            <h3 class="service__heading">Wonderswan Color</h3>
                        </a>
                        <p>{{ i18n "swonderswan" }}</p>
                    </div>
                </div>
                <div class="row">
                    <div class="one-column col-xs-12 col-sm-12 service service--large-present service--reflow ">
                        <div class="icon icon--animate icon--shape">
                            <div class="icon__item">
                                <img src="/images/neogeo.png" />
                            </div>
                        </div>
                        <a class="service__link" href="#">
                            <h3 class="service__heading">Neo Geo</h3>
                        </a>
                        <p>{{ i18n "sneogeo" }}</p>
                    </div>
                </div>
                <div class="row">
                    <div class="one-column col-xs-12 col-sm-12 service service--large-present service--reflow ">
                        <div class="icon icon--animate icon--shape">
                            <div class="icon__item">
                                <img src="/images/odyssey2_videopac.png" />
                            </div>
                        </div>
                        <a class="service__link" href="#">
                            <h3 class="service__heading">Odyssey 2 Videopac</h3>
                        </a>
                        <p>{{ i18n "sodyssey2" }}</p>
                    </div>
                </div>
                <div class="row">
                    <div class="one-column col-xs-12 col-sm-12 service service--large-present service--reflow ">
                        <div class="icon icon--animate icon--shape">
                            <div class="icon__item">
                                <img src="/images/sinclair_zx81.png" />
                            </div>
                        </div>
                        <a class="service__link" href="#">
                            <h3 class="service__heading">Sinclair ZX81</h3>
                        </a>
                        <p>{{ i18n "szx81" }}</p>
                    </div>
                </div>
                <div class="row">
                    <div class="one-column col-xs-12 col-sm-12 service service--large-present service--reflow ">
                        <div class="icon icon--animate icon--shape">
                            <div class="icon__item">
                                <img src="/images/sinclair_zx_spectrum.png" />
                            </div>
                        </div>
                        <a class="service__link" href="#">
                            <h3 class="service__heading">Sinclair ZX Spectrum</h3>
                        </a>
                        <p>{{ i18n "szxspectrum" }}</p>
                    </div>
                </div>
                <div class="row">
                    <div class="one-column col-xs-12 col-sm-12 service service--large-present service--reflow ">
                        <div class="icon icon--animate icon--shape">
                            <div class="icon__item">
                                <img src="/images/dreamcast.png" />
                            </div>
                        </div>
                        <a class="service__link" href="#">
                            <h3 class="service__heading">Dreamcast</h3>
                        </a>
                        <p>{{ i18n "dreamcast" }}</p>
                    </div>
                </div>
                <div class="row">
                    <div class="one-column col-xs-12 col-sm-12 service service--large-present service--reflow ">
                        <div class="icon icon--animate icon--shape">
                            <div class="icon__item">
                                <img src="/images/commodore64.png" />
                            </div>
                        </div>
                        <a class="service__link" href="#">
                            <h3 class="service__heading">Commodore 64</h3>
                        </a>
                        <p>{{ i18n "commodore64" }}</p>
                    </div>
                </div>
            </div>
            <!-- end sevrice preview -->
        </div><!-- end col -->
        <div class="col-sm-6">
            <div class="service-container">
                <!-- Sevrice preview -->
                <div class="row">
                    <div class="one-column col-xs-12 col-sm-12 service service--large-present service--reflow ">
                        <div class="icon icon--animate icon--shape">
                            <div class="icon__item">
                                <img src="/images/pacman-mini.png" />
                            </div>
                        </div>
                        <a class="service__link" href="#">
                            <h3 class="service__heading">Arcade Classics</h3>
                        </a>
                        <p>{{ i18n "sclassics" }} </p>
                    </div>
                </div>
                <!-- end sevrice preview -->
                <div class="row">
                    <div class="one-column col-xs-12 col-sm-12 service service--large-present service--reflow ">
                        <div class="icon icon--animate icon--shape">
                            <div class="icon__item">
                                <img src="/images/fds.png" />
                            </div>
                        </div>
                        <a class="service__link" href="#">
                            <h3 class="service__heading">FDS</h3>
                        </a>
                        <p>{{ i18n "sfds" }}</p>
                    </div>
                </div>
                <!-- Sevrice preview -->
                <div class="row">
                    <div class="one-column col-xs-12 col-sm-12 service service--large-present service--reflow ">
                        <div class="icon icon--animate icon--shape">
                            <div class="icon__item">
                                <img src="/images/mastersystem-mini.png" />
                            </div>
                        </div>
                        <a class="service__link" href="#">
                            <h3 class="service__heading">Master System</h3>
                        </a>
                        <p>{{ i18n "sms" }}</p>
                    </div>
                </div>
                <!-- end sevrice preview -->
                <!-- Sevrice preview -->
                <div class="row">
                    <div class="one-column col-xs-12 col-sm-12 service service--large-present service--reflow ">
                        <div class="icon icon--animate icon--shape">
                            <div class="icon__item">
                                <img src="/images/megadrive-mini.png" />
                            </div>
                        </div>
                        <a class="service__link" href="#">
                            <h3 class="service__heading">{{ i18n "Megadrive" }}</h3>
                        </a>
                        <p>{{ i18n "smegadrive" }}</p>
                    </div>
                </div>
                <div class="row">
                    <div class="one-column col-xs-12 col-sm-12 service service--large-present service--reflow ">
                        <div class="icon icon--animate icon--shape">
                            <div class="icon__item">
                                <img src="/images/gba-mini.png" />
                            </div>
                        </div>
                        <a class="service__link" href="#">
                            <h3 class="service__heading">Game Boy Advance</h3>
                        </a>
                        <p>{{ i18n "sgba" }}</p>
                    </div>
                </div>
                <div class="row">
                    <div class="one-column col-xs-12 col-sm-12 service service--large-present service--reflow ">
                        <div class="icon icon--animate icon--shape">
                            <div class="icon__item">
                                <img src="/images/gbc-mini.png" />
                            </div>
                        </div>
                        <a class="service__link" href="#">
                            <h3 class="service__heading">Game Boy Color</h3>
                        </a>
                        <p>{{ i18n "sgbc" }}</p>
                    </div>
                </div>
                <div class="row">
                    <div class="one-column col-xs-12 col-sm-12 service service--large-present service--reflow ">
                        <div class="icon icon--animate icon--shape">
                            <div class="icon__item">
                                <img src="/images/atari2600-mini.png" />
                            </div>
                        </div>
                        <a class="service__link" href="#">
                            <h3 class="service__heading">Atari 2600</h3>
                        </a>
                        <p>{{ i18n "satari2600" }}</p>
                    </div>
                </div>
                <div class="row">
                    <div class="one-column col-xs-12 col-sm-12 service service--large-present service--reflow ">
                        <div class="icon icon--animate icon--shape">
                            <div class="icon__item">
                                <img src="/images/msx-mini.png" />
                            </div>
                        </div>
                        <a class="service__link" href="#">
                            <h3 class="service__heading">MSX 1 / 2 / 2+</h3>
                        </a>
                        <p>{{ i18n "smsx" }}</p>
                    </div>
                </div>
                <div class="row">
                    <div class="one-column col-xs-12 col-sm-12 service service--large-present service--reflow ">
                        <div class="icon icon--animate icon--shape">
                            <div class="icon__item">
                                <img src="/images/32x-mini.png" />
                            </div>
                        </div>
                        <a class="service__link" href="#">
                            <h3 class="service__heading">Sega 32x</h3>
                        </a>
                        <p>{{ i18n "s32x" }}</p>
                    </div>
                </div>
                <div class="row">
                    <div class="one-column col-xs-12 col-sm-12 service service--large-present service--reflow ">
                        <div class="icon icon--animate icon--shape">
                            <div class="icon__item">
                                <img src="/images/scummvm-mini.png" />
                            </div>
                        </div>
                        <a class="service__link" href="#">
                            <h3 class="service__heading">ScummVM</h3>
                        </a>
                        <p>{{ i18n "sscummvm" }}</p>
                    </div>
                </div>
                <div class="row">
                    <div class="one-column col-xs-12 col-sm-12 service service--large-present service--reflow ">
                        <div class="icon icon--animate icon--shape">
                            <div class="icon__item">
                                <img src="/images/doom.png" />
                            </div>
                        </div>
                        <a class="service__link" href="#">
                            <h3 class="service__heading">PRBOOM</h3>
                        </a>
                        <p>{{ i18n "sprboom" }}</p>
                    </div>
                </div>
                <div class="row">
                    <div class="one-column col-xs-12 col-sm-12 service service--large-present service--reflow ">
                        <div class="icon icon--animate icon--shape">
                            <div class="icon__item">
                                <img src="/images/gamegear.png" />
                            </div>
                        </div>
                        <a class="service__link" href="#">
                            <h3 class="service__heading">Game Gear</h3>
                        </a>
                        <p>{{ i18n "sgamegear" }}</p>
                    </div>
                </div>
                <div class="row">
                    <div class="one-column col-xs-12 col-sm-12 service service--large-present service--reflow ">
                        <div class="icon icon--animate icon--shape">
                            <div class="icon__item">
                                <img src="/images/lynx.png" />
                            </div>
                        </div>
                        <a class="service__link" href="#">
                            <h3 class="service__heading">Lynx</h3>
                        </a>
                        <p>{{ i18n "slynx" }}</p>
                    </div>
                </div>
                <div class="row">
                    <div class="one-column col-xs-12 col-sm-12 service service--large-present service--reflow ">
                        <div class="icon icon--animate icon--shape">
                            <div class="icon__item">
                                <img src="/images/neogeopocket.png" />
                            </div>
                        </div>
                        <a class="service__link" href="#">
                            <h3 class="service__heading">NeoGeo Pocket Color</h3>
                        </a>
                        <p>{{ i18n "sneogeopocket" }}</p>
                    </div>
                </div>
                <div class="row">
                    <div class="one-column col-xs-12 col-sm-12 service service--large-present service--reflow ">
                        <div class="icon icon--animate icon--shape">
                            <div class="icon__item">
                                <img src="/images/supergrafx.png" />
                            </div>
                        </div>
                        <a class="service__link" href="#">
                            <h3 class="service__heading">Supergrafx</h3>
                        </a>
                        <p>{{ i18n "ssupergrafx" }}</p>
                    </div>
                </div>
                <div class="row">
                    <div class="one-column col-xs-12 col-sm-12 service service--large-present service--reflow ">
                        <div class="icon icon--animate icon--shape">
                            <div class="icon__item">
                                <img src="/images/amstrad_cpc.png" />
                            </div>
                        </div>
                        <a class="service__link" href="#">
                            <h3 class="service__heading">Amstrad CPC</h3>
                        </a>
                        <p>{{ i18n "samstradcpc" }}</p>
                    </div>
                </div>
                <div class="row">
                    <div class="one-column col-xs-12 col-sm-12 service service--large-present service--reflow ">
                        <div class="icon icon--animate icon--shape">
                            <div class="icon__item">
                                <img src="/images/atari_st.png" />
                            </div>
                        </div>
                        <a class="service__link" href="#">
                            <h3 class="service__heading">Atari ST</h3>
                        </a>
                        <p>{{ i18n "satarist" }}</p>
                    </div>
                </div>
                <div class="row">
                    <div class="one-column col-xs-12 col-sm-12 service service--large-present service--reflow ">
                        <div class="icon icon--animate icon--shape">
                            <div class="icon__item">
                                <img src="/images/moonlight.png" />
                            </div>
                        </div>
                        <a class="service__link" href="#">
                            <h3 class="service__heading">Moonlight</h3>
                        </a>
                        <p>{{ i18n "smoonlight" }}</p>
                    </div>
                </div>
                <div class="row">
                    <div class="one-column col-xs-12 col-sm-12 service service--large-present service--reflow ">
                        <div class="icon icon--animate icon--shape">
                            <div class="icon__item">
                                <img src="/images/psp.png" />
                            </div>
                        </div>
                        <a class="service__link" href="#">
                            <h3 class="service__heading">PSP</h3>
                        </a>
                        <p>{{ i18n "psp" }}</p>
                    </div>
                </div>
            </div>
        </div><!-- end col -->
    </div><!-- end row -->
</section>
<section class="container bottom-space--large" id="about">
    <div class="row">
        <div class="about--animate">
            <div class="col-sm-6">
                <h2 class="heading-cascade heading-cascade--danger"><span
                        class="heading-cascade__step">{{ i18n "opensourcetitle1" }}</span>{{ i18n "opensourcetitle2" }}
                </h2>
                <p class="p-space">
                    {{ i18n "opensourcedesc1" }}
                </p>
                <p class="p-null">
                    {{ i18n "opensourcedesc2" }}
                </p>
            </div><!-- end col -->
            <div class="col-sm-6 image-container">
                {{ partial "img.html" (dict "src" "/images/opensource/opensource.png") }}
            </div><!-- end col -->
        </div><!-- end about -->
    </div><!-- end row -->
</section> <!-- end container -->
<section class="container bottom-space--md" id="about">
    <div class="row">
        <div class="col-sm-6 image-container">
            {{ partial "img.html" (dict "src" "/images/homebrews.jpg") }}
        </div><!-- end col -->
        <div class="about--animate">
            <div class="col-sm-6">
                <h2 class="heading-cascade heading-cascade--danger"><span
                        class="heading-cascade__step">{{ i18n "hackstittle1" }}</span>{{ i18n "hackstittle2" }}</h2>
                <p class="p-space">
                    {{ i18n "homebrewsdesc" }}
                </p>
                <p class="p-null">
                    {{ i18n "hacksdesc" }}
                </p>
            </div><!-- end col -->
        </div><!-- end about -->
    </div><!-- end row -->
</section> <!-- end container -->
<div class="staff-container">
    <section class="container">
        <h2 class="block-title block-title--top-larger" id="specs">{{ i18n "features" }}</h2>
        <div class="swiper-container staff-slider">
            <div class="swiper-wrapper">
                <!--Slide-->
                <div class="swiper-slide">
                    <div class="row">
                        <div class="row">
                            <div class="col-sm-12 col-md-6">
                                <article>
                                    <a class="post post--preview-link staff" href="#">
                                        <div class="row">
                                            <div class="one-column col-xs-6 col-md-7 col-lg-6">
                                                <div class="image-container image-container--max image--border-hover">
                                                    {{ partial "img.html" (dict "src" "/images/features/updates.jpg") }}
                                                </div>
                                            </div><!-- end col -->
                                            <div class="one-column col-xs-6 col-md-5 col-lg-6">
                                                <h3 class="staff__name">{{ i18n "onlineupdate" }}</h3>
                                                <p class="post__text">{{ i18n "onlineupdate2" }}</p>
                                            </div><!-- end col -->
                                        </div><!-- end row -->
                                    </a>
                                </article><!-- end article -->
                            </div><!-- end col -->
                            <div class="col-sm-12 col-md-6">
                                <article>
                                    <a class="post post--preview-link staff" href="#">
                                        <div class="row">
                                            <div class="one-column col-xs-6 col-md-7 col-lg-6">
                                                <div class="image-container image-container--max image--border-hover">
                                                    {{ partial "img.html" (dict "src" "/images/features/4playermodo.jpeg") }}
                                                </div>
                                            </div><!-- end col -->
                                            <div class="one-column col-xs-6 col-md-5 col-lg-6">
                                                <h3 class="staff__name">5 Players Modo !</h3>
                                                <p class="post__text">{{ i18n "4players" }}</p>
                                            </div><!-- end col -->
                                        </div><!-- end row -->
                                    </a>
                                </article><!-- end article -->
                            </div><!-- end col -->
                        </div>
                        <div class="row">
                            <div class="col-sm-12 col-md-6">
                                <article>
                                    <a class="post post--preview-link post--right staff" href="#">
                                        <div class="row">
                                            <div class="one-column col-xs-6 col-md-5 col-lg-6">
                                                <h3 class="staff__name">{{ i18n "rewind" }}</h3>
                                                <p class="post__text">{{ i18n "rewind2" }}
                                                </p>
                                            </div><!-- end col -->
                                            <div class="one-column col-xs-6 col-md-7 col-lg-6">
                                                <div
                                                    class="image-container image-container--max pull-right image--border-hover">
                                                    <img src="/images/features/rewind3.gif" alt="">
                                                </div>
                                            </div><!-- end col -->
                                        </div><!-- end row -->
                                    </a>
                                </article><!-- end article -->
                            </div><!-- end col -->
                            <div class="col-sm-12 col-md-6">
                                <article>
                                    <a class="post post--preview-link post--right staff" href="#">
                                        <div class="row">
                                            <div class="one-column col-xs-6 col-md-5 col-lg-6">
                                                <h3 class="staff__name">Screenshots</h3>
                                                <p class="post__text">{{ i18n "screenshots" }}
                                                </p>
                                            </div><!-- end col -->
                                            <div class="one-column col-xs-6 col-md-7 col-lg-6">
                                                <div
                                                    class="image-container image-container--max pull-right image--border-hover">
                                                    {{ partial "img.html" (dict "src" "/images/features/screenshot.jpg") }}
                                                </div>
                                            </div><!-- end col -->
                                        </div><!-- end row -->
                                    </a>
                                </article><!-- end article -->
                            </div><!-- end col -->
                        </div>
                        <div class="row">
                            <div class="col-sm-12 col-md-6">
                                <article>
                                    <a class="post post--preview-link staff" href="#">
                                        <div class="row">
                                            <div class="one-column col-xs-6 col-md-7 col-lg-6">
                                                <div class="image-container image-container--max image--border-hover">
                                                    {{ partial "img.html" (dict "src" "/images/features/save.jpg") }}
                                                </div>
                                            </div><!-- end col -->
                                            <div class="one-column col-xs-6 col-md-5 col-lg-6">
                                                <h3 class="staff__name">SaveStates</h3>
                                                <p class="post__text">{{ i18n "savestates" }} </p>
                                            </div><!-- end col -->
                                        </div><!-- end row -->
                                    </a>
                                </article><!-- end article -->
                            </div><!-- end col -->
                            <div class="col-sm-12 col-md-6">
                                <article>
                                    <a class="post post--preview-link staff" href="#">
                                        <div class="row">
                                            <div class="one-column col-xs-6 col-md-7 col-lg-6">
                                                <div class="image-container image-container--max image--border-hover">
                                                    {{ partial "img.html" (dict "src" "/images/features/wireless.jpg") }}
                                                </div>
                                            </div><!-- end col -->
                                            <div class="one-column col-xs-6 col-md-5 col-lg-6">
                                                <h3 class="staff__name">{{ i18n "wirelesscontrolers" }}</h3>
                                                <p class="post__text">{{ i18n "wirelesscontrolers2" }}</p>
                                            </div><!-- end col -->
                                        </div><!-- end row -->
                                    </a>
                                </article><!-- end article -->
                            </div><!-- end col -->
                        </div>
                    </div><!-- end row -->
                </div>
            </div>
        </div>
    </section>
</div>
<div class="number-container">
    <div class="container">
        <div class="row">
            <h2 class="block-title block-title--simple" id="number-start">{{ i18n "numbers" }}</h2>
            <!-- Brand shape stat view -->
            <div class="col-xs-6 col-md-3 one-column">
                <div class="stat stat--shape">
                    <p class="stat__dimension">{{ i18n "compatiblesgames" }}</p>
                    <span class="stat__number">40k</span>
                </div>
            </div><!-- end col -->
            <div class="col-xs-6 col-md-3 one-column">
                <div class="stat stat--shape stat--shape-end">
                    <p class="stat__dimension">{{ i18n "players" }}</p>
                    <span class="stat__number">5</span>
                </div>
            </div><!-- end col -->
            <div class="col-xs-6 col-md-3 one-column">
                <div class="stat stat--shape">
                    <p class="stat__dimension">{{ i18n "msystems" }}</p>
                    <span class="stat__number">100</span>
                </div>
            </div><!-- end col -->
            <div class="col-xs-6 col-md-3 one-column">
                <div class="stat stat--shape last">
                    <p class="stat__dimension">{{ i18n "hoursofgames" }}</p>
                    <span class="stat__number">∞</span>
                </div>
            </div><!-- end col -->
        </div><!-- end row -->
    </div><!-- end container -->
</div>
<div>
    <script src='{{ "/allec/external/livicons/livicons-1.3.min.js" | relURL }}'></script>
    <script src='{{ "/allec/external/livicons/raphael-min.js" | relURL }}'></script>
    <!-- Event that will trigger when the element is scrolled in to the viewport.-->
    <script src='{{ (resources.Get "/allec/external/inview/jquery.inview.js" | resources.Minify).Permalink }}'></script>
    <!-- Smooth Scroll -->
    <script
        src='{{ (resources.Get "/allec/external/SmoothScroll/SmoothScroll.js" | resources.Minify).Permalink }}'></script>
    <!-- Form -->
    <script src='{{ (resources.Get "/allec/js/form.js" | resources.Minify).Permalink }}'></script>
    <script src='{{ "/allec/external/magnific-popup/jquery.magnific-popup.min.js" | relURL }}'></script>
    <script>
        $(document).ready(function () {
            numberStart()
            smoothScrollInit();
            preloader();
            $('.feature .feature__heading').one('inview', function (event, visible) {
                if (visible == true) {
                    $('.feature__image.start-1').addClass('fadeInUp');
                    $('.feature__image.start-2').addClass('fadeInUp stage2');
                    $('.feature__image.start-3').addClass('fadeInUp stage3');
                }
            });
            $('.animated-services').one('inview', function (event, visible) {
                if (visible == true) {
                    $('.service.start-1').addClass('zoomIn');
                    $('.service.start-2').addClass('zoomIn stage2');
                    $('.service.start-3').addClass('zoomIn stage3');
                }
            });
            $('.price-container').one('inview', function (event, visible) {
                if (visible == true) {
                    $('.price').addClass('fadeInUp');
                }
            });
            galleryPopup();
        });
    </script>
</div>
{{ end }}