<head>
    <!-- Basic Page Needs -->
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <meta charset="utf-8">
    <title>{{ .Title }}</title>
    <meta name="description" content="{{ default .Site.Params.defaultDescription .Description}}">
    <meta name="keywords" content="{{ default .Site.Params.defaultKeywords .Keywords }}">
    <meta name="author" content="digitalLumberjack">

    <!-- Mobile Specific Metas-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta content="telephone=no" name="format-detection">

    {{ if .RSSLink }}
    <link href="{{ .RSSLink }}" rel="alternate" type="application/rss+xml" title="{{ .Site.Title }}" />
    <link href="{{ .RSSLink }}" rel="feed" type="application/rss+xml" title="{{ .Site.Title }}" />
    {{ end }}
    <!-- Fonts -->
    <!-- Open Sans -->
    <link href='//fonts.googleapis.com/css?family=Open+Sans:300,400italic,600,700italic,400,700,800italic' rel='stylesheet' type='text/css'>
    <!-- VarelaRound -->
    <link href='//fonts.googleapis.com/css?family=Varela+Round' rel='stylesheet' type='text/css'>
    <!-- Icon Font - Font Awesome -->
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.6.2/css/font-awesome.min.css" rel="stylesheet">

    <!-- RS5.0 Main Stylesheet -->
    <link rel="stylesheet" href='{{ (resources.Get "/allec/external/rs-plugin/css/settings.css" | resources.Minify).Permalink }}'>
    <!-- RS5.0 Layers and Navigation Styles -->
    <link rel="stylesheet" href='{{ (resources.Get "/allec/external/rs-plugin/css/layers.css" | resources.Minify).Permalink }}'>
    <link rel="stylesheet" href='{{ (resources.Get "/allec/external/rs-plugin/css/navigation.css" | resources.Minify).Permalink }}'>
    <!-- Mobile menu -->
    <link rel="stylesheet" href='{{ (resources.Get "/allec/external/z-nav/z-nav.css" | resources.Minify).Permalink }}' rel="stylesheet">
    <link rel="stylesheet" href='{{ (resources.Get "/allec/external/mCustomScrollbar/jquery.mCustomScrollbar.css" | resources.Minify).Permalink }}' rel="stylesheet"/>

    <!-- Touch slider - Swiper -->
    <link rel="stylesheet" href='{{ (resources.Get "/allec/external/swiper/idangerous.swiper.css" | resources.Minify).Permalink }}' rel="stylesheet"/>
    <link rel="stylesheet" href='{{ (resources.Get "/allec/external/magnific-popup/magnific-popup.css" | resources.Minify).Permalink }}' rel="stylesheet"/>
    <!-- Custom -->
    <link rel="stylesheet" href='{{ (resources.Get "/allec/css/style.css" | resources.Minify).Permalink }}' rel="stylesheet"/>
    <link rel="stylesheet" href='{{ (resources.Get "/allec/external/tooltip/tooltip-classic.css" | resources.Minify).Permalink }}' rel="stylesheet"/>
    <link rel="stylesheet" href='{{ (resources.Get "/allec/external/quickview/css/style.css" | resources.Minify).Permalink }}' rel="stylesheet"/>

    <link rel="stylesheet" href='{{ (resources.Get "/allec/external/raty/jquery.raty.css" | resources.Minify).Permalink }}' rel="stylesheet">

    <link rel="stylesheet" href='{{ (resources.Get "/css/recalbox-theme.css" | resources.Minify).Permalink }}' rel="stylesheet"/>

    <!-- Basic JavaScript-->
    <!-- Modernizr -->
    <script src='{{ (resources.Get "/allec/external/modernizr/modernizr.custom.js" | resources.Minify).Permalink }}'></script>

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7/html5shiv.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/respond.js/1.3.0/respond.js"></script>
    <![endif]-->

    <!--[if lte IE 9]>
    <link href="/allec/css/ie9.css?v=1" rel="stylesheet"/>
    <![endif]-->
    <link rel="icon" type="image/png" href="/favicon.png"/>

    <!-- Google Tag Manager -->
    <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
    new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
    j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
    'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
    })(window,document,'script','dataLayer','GTM-K2V3N4Z');</script>
    <!-- End Google Tag Manager -->
</head>