<header class="header header--social header--slice">
    <div class="header-fixed">
        <div class="header-line waypoint" data-animate-down="header-up" data-animate-up="header-down">
            <div class="container">
                <!-- Contact information about company -->
                <address class="contact-info pull-left hidden-lower">

                    <span class="contact-info__item">
                        <i class="fa fa-envelope"></i>
                        <a class="contactus" href="mailto:support@recalbox.com">{{ i18n "contact" }}</a>
                    </span>
                </address>
                <!-- end contact information -->
                <!-- multi-langauge select -->
                {{ if .Site.IsMultiLingual }}
                    <div class="lang-select contact-info pull-left">
                        <div class="contact-info__item">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-hidden="true"><img alt="flag-{{.Language}}" src="{{ .Site.BaseURL }}img/flags/{{.Language}}.png" /></a>
                            <ul class="dropdown-menu">
                                {{ range $SitePage := $.Site.Home.AllTranslations }}
                                    {{ $linkPage := $SitePage }}
                                    {{ range $Page := $.Page.AllTranslations }}
                                        {{ if eq $SitePage.Language.LanguageName $Page.Language.LanguageName }}
                                            {{ $linkPage = $Page }}
                                        {{ end }}
                                    {{ end }}
                                    <li class="dropdown menu-item">
                                        <a href="{{ $linkPage.Permalink }}">
                                            <img alt="flag-{{$linkPage.Language}}" src="/img/flags/{{$linkPage.Language}}.png" />
                                            {{ $linkPage.Language.LanguageName }}
                                        </a>
                                    </li>
                                {{ end}}
                            </ul>
                        </div>
                    </div>
                {{ end }}
                <!-- end multi-langauge select -->
                <div class="login">
                    <div style="display : none">
                        <a title="Switch to French" href='{{ "fr/" | absURL }}'>FR</a>/
                        <a title="Switch to English" href='{{ "/" | absURL }}'>EN</a>
                    </div>
                </div>
                <div class="social social--default social--small">
                    <!-- List with social icons -->
                    <ul>

                        <li class="social__item"><a href="https://discord.gg/NbQFbGM" target="_blank"
                                                    class=" social__link tooltip-link tooltip--secondary" data-toggle="tooltip" data-placement="bottom" title="Discord">
                            <i class="social__icon fa fa-wechat"></i></a>
                        </li>
                        <li class="social__item"><a href="https://twitter.com/recalbox" target="_blank"
                                                    class=" social__link tooltip-link tooltip--secondary" data-toggle="tooltip" data-placement="bottom" title="Twitter">

                            <i class="social__icon fa fa-twitter"></i></a>
                        </li>
                        <li class="social__item"><a href="https://www.facebook.com/recalbox" target="_blank"
                                                    class="social__link tooltip-link tooltip--secondary" data-toggle="tooltip" data-placement="bottom" title="Facebook">
                            <i class="social__icon fa fa-facebook"></i></a>
                        </li>
                        <li class="social__item">
                            <a href="https://plus.google.com/+RecalboxOfficial" target="_blank"
                               class="social__link tooltip-link tooltip--secondary" data-toggle="tooltip" data-placement="bottom" title="Google Plus">
                                <i class="social__icon fa fa-google-plus"></i></a></li>

                        <li class="social__item">
                            <a href="https://www.youtube.com/c/RecalboxOfficial" target="_blank"
                               class="social__link tooltip-link tooltip--secondary" data-toggle="tooltip" data-placement="bottom" title="Youtube">
                                <i class="social__icon fa fa-youtube"></i></a>
                        </li>
                        <li class="social__item">
                            <a href="https://gitlab.com/recalbox/recalbox" target="_blank"
                               class="social__link tooltip-link tooltip--secondary" data-toggle="tooltip" data-placement="bottom" title="Gitlab">
                                <i class="social__icon fa fa-gitlab"></i></a></li>
                        <li class="social__item">
                            <a href="https://recalbox.gitbook.io/documentation/" target="_blank"
                               class="social__link tooltip-link tooltip--secondary" data-toggle="tooltip" data-placement="bottom" title="Documentation">
                                <i class="social__icon fa fa-book"></i></a></li>
                    </ul>
                </div>

            </div> <!-- end container -->
        </div>
        <div class="fixed-top header-down">
            <div class="container">
                <!--  Logo  -->
                <a class="logo" href="{{ "/" | relLangURL }}">
                    <h1 class="logo__text">recalbox.com<span class="highlight"></span> <br>
                        <span class="logo__slogan">Play Again ?</span>
                    </h1>
                </a>
                <!-- End Logo -->

                <!-- Navigation section -->
                <nav class="z-nav">
                    <!-- Toggle for menu mobile view -->
                    <a href="#" class="z-nav__toggle">
                        <span class="menu-icon"></span>
                        <span class="menu-text">navigation</span>
                        <div class="menu-head"></div>
                    </a>
                    <div class="z-nav-inner">

                        <ul class="z-nav__list">
                            <li class="z-nav__item">
                                <!-- Subsidiary menu toogle button -->
                                <span class="z-nav__toggle-sub plus"><i class="fa fa-plus"></i> <i class="fa fa-minus"></i></span>
                                <a class="z-nav__link" href='{{ "" | relLangURL }}'>{{ i18n "recalbox" }}</a>
                                <!-- Subsidiary menu list-->
                                <ul class="z-nav__list-secondary">
                                    <li class="z-nav__item"><a class="z-nav__link" href='{{ "/#about" | relLangURL }}'>{{ i18n "description" }}</a></li>
                                    <li class="z-nav__item"><a class="z-nav__link" href='{{ "/#interface" | relLangURL }}'>{{ i18n "interface" }}</a></li>
                                    <li class="z-nav__item"><a class="z-nav__link" href='{{ "/#systems" | relLangURL }}'>{{ i18n "systems" }}</a></li>
                                    <li class="z-nav__item"><a class="z-nav__link" href='{{ "/#specs" | relLangURL }}'>{{ i18n "features" }}</a></li>
                                </ul>
                            </li>
                            <li class="z-nav__item">
                                <a class="z-nav__link" href='{{ "/media" | relLangURL }}'>{{ i18n "media" }}</a>
                            </li>
                            <li class="z-nav__item">
                                <a class="z-nav__link" href='{{ "/diyrecalbox" | relLangURL }}'>{{ i18n "diy" }}</a>
                            </li>
                            <li class="z-nav__item">
                                <a class="z-nav__link" href='{{ "/faq" | relLangURL }}'>F.A.Q.</a>
                            </li>
                            <li class="z-nav__item">
                                <a class="z-nav__link" href='{{ "/blog" | relLangURL }}'>Blog</a>
                            </li>
                            <li class="z-nav__item">
                                <a class="z-nav__link" href="https://forum.recalbox.com/">Forums</a>
                            </li>
                            <li class="z-nav__item">
                                <a class="z-nav__link" href='https://www.kubii.fr/221-recalbox'>
                                    <object data="/images/recalstore-menu.svg" type="image/svg+xml" style="pointer-events: none;">
                                        <img src="/images/recalstore-menu.png" />
                                    </object></a>
                            </li>

                        </ul>
                    </div> <!-- end list menu inner container -->
                    <!-- end list menu item -->
                </nav>
                <!-- end navigation section -->
            </div> <!-- end container -->

        </div>

    </div> <!-- end fixed top block -->

</header>
<!-- end header section -->
