{{ define "main" }}

<section class="container">
    <div class="row block-title--top-large alert alert--simple alert-danger alert-visible ns-effect-scale ns-hide adblockalert"
        style="display: none">
        <strong>{{ i18n "shopono" }}</strong> {{ i18n "adblockenabled" }}
        <a class="alert__link" target="_blank" href="https://www.google.com/#&q=disable+adblock">
            {{ i18n "disableadblock" }}</a>
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true"><i class="fa fa-times"></i></button>
    </div>
    <div class="row block-title--top-large alert alert--simple alert-danger alert-visible ns-effect-scale ns-hide shopalert"
        style="display: none">
        <strong>{{ i18n "shopono" }}</strong> {{ i18n "shopissue" }}
        <a class="alert__link" href='{{ "/shop" | relLangURL }}'> {{ i18n "shopreload" }}</a>
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true"><i class="fa fa-times"></i></button>
    </div>

    <h2>{{ i18n "welcomeshop" }} <object data='{{ "images/recalstore.svg" | relURL }}' type="image/svg+xml">
            <img src='{{ "images/recalstore.png" | relURL }}' />
        </object>
    </h2>
    
    <div class="row">
        <ol class="breadcrumb" style="margin-top: 0;">
            {{ $currentLang := .Page.Params.amazoncountry }}
            {{ range (where .Site.Pages "Section" "shop") }}
            {{ range .Sections }}
            <li class='{{ if eq $currentLang .Params.amazoncountry }}active{{ end }}'><a href="{{ .Permalink }}">{{ .Params.amazoncountrylong }}</a></li>
            {{ end }}
            {{ end }}
        </ol>
    </div>

    <p class="">{{ i18n "descshop" | safeHTML }}</p>
</section>

<div id="toHideIfAdBlock">
    <div class="divider divider--colored present-divider">
        <span class="divider-dot"></span>
    </div>

    <div class="bannercontainer shop-banner">
        <div class="banner">
            <ul>
                <!-- Slide -->
                <li data-transition="fade" data-slotamount="3" data-text="">
                    <img src='{{ "allec/images/components/blanck.png" | relURL }}' alt="">
                    <div class="tp-caption lfb skewtoleft slider__product-lg1" data-x="right" data-y="center"
                        data-hoffset="-115" data-voffset="15" data-speed="900" data-start="1200"
                        data-easing="Power4.easeOut">
                        <img class="recal_prod_image_1" src="" alt="" data-width="526px" data-height="474px"
                            data-ww="526px" data-hh="474px">
                    </div>
                    <div class="tp-caption lfl skewtoleft" data-x="right" data-y="center" data-hoffset="376"
                        data-whitespace="nowrap" data-speed="1000" data-start="3800" data-easing="Power4.easeOut">
                        <div class="slider__price price_item_slider recal_prod_price_1"></div>
                    </div>

                    <div class="tp-caption customin customout slider-width slider__heading--lg-primary" data-x="left"
                        data-y="162" data-hoffset="30" data-speed="500" data-start="1600" data-whitespace="nowrap"
                        data-lineheight="59px" data-easing="Power1.easeIn"
                        data-transform_out="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
                        data-transform_in="x:0;y:0;z:0;rotationX:90;rotationY:0;rotationZ:0;scaleX:1;scaleY:1;skewX:0;skewY:0;opacity:0;transformPerspective:200;transformOrigin:50% 0%;">
                        <p class="recal_topproductTitle recal_prod_title_1"></p>
                    </div>
                    <div class="tp-caption customin customout slider-width slider__text" data-x="left" data-y="248"
                        data-speed="700" data-hoffset="30" data-start="2300" data-easing="Power4.easeOut"
                        data-whitespace="nowrap" data-lineheight="26px"
                        a-transform_out="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
                        data-transform_in="x:0;y:100;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:1;scaleY:3;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:0% 0%;">
                        <p class="recal_prod_shortdesc_1 recal_topproductDesc"></p>
                    </div>
                    <div class="tp-caption sfr slider-width slider__btn slider__btn--mobile tp-resizeme" data-x="left"
                        data-y="370" data-hoffset="30" data-speed="600" data-start="2900">
                        <a class="btn btn-warning btn--decorated recal_prod_link_1" href="#">{{ i18n "buy" }}</a>
                    </div>
                </li>
                <li data-transition="fade" data-slotamount="3" data-text="">
                    <img src='{{ "allec/images/components/blanck.png" | relURL }}' alt="">
                    <div class="tp-caption lfb skewtoleft slider__product-lg1" data-x="right" data-y="center"
                        data-hoffset="-115" data-voffset="15" data-speed="900" data-start="1200"
                        data-easing="Power4.easeOut">
                        <img class="recal_prod_image_2" src="" alt="" data-width="526px" data-height="474px"
                            data-ww="526px" data-hh="474px">
                    </div>
                    <div class="tp-caption lfl skewtoleft" data-x="right" data-y="center" data-hoffset="376"
                        data-whitespace="nowrap" data-speed="1000" data-start="3800" data-easing="Power4.easeOut">
                        <div class="slider__price price_item_slider recal_prod_price_2"></div>
                    </div>

                    <div class="tp-caption customin customout slider-width slider__heading--lg-primary" data-x="left"
                        data-y="162" data-hoffset="30" data-speed="500" data-start="1600" data-whitespace="nowrap"
                        data-lineheight="59px" data-easing="Power1.easeIn"
                        data-transform_out="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
                        data-transform_in="x:0;y:0;z:0;rotationX:90;rotationY:0;rotationZ:0;scaleX:1;scaleY:1;skewX:0;skewY:0;opacity:0;transformPerspective:200;transformOrigin:50% 0%;">
                        <p class="recal_topproductTitle recal_prod_title_2"></p>
                    </div>
                    <div class="tp-caption customin customout slider-width slider__text" data-x="left" data-y="248"
                        data-speed="700" data-hoffset="30" data-start="2300" data-easing="Power4.easeOut"
                        data-whitespace="nowrap" data-lineheight="26px"
                        a-transform_out="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
                        data-transform_in="x:0;y:100;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:1;scaleY:3;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:0% 0%;">
                        <p class="recal_topproductDesc recal_prod_shortdesc_2"></p>
                    </div>
                    <div class="tp-caption sfr slider-width slider__btn slider__btn--mobile tp-resizeme" data-x="left"
                        data-y="370" data-hoffset="30" data-speed="600" data-start="2900">
                        <a class="btn btn-warning btn--decorated recal_prod_link_2" href="#">{{ i18n "buy" }}</a>
                    </div>
                </li>
                <!-- end slide -->
                <!-- Slide -->

                <li data-transition="fade" data-slotamount="3" data-text="Different pages for various purposes.">
                    <img src="" alt="">
                    <div class="tp-caption sfl laptop--mobile" data-x="left" data-y="50" data-hoffset="30"
                        data-speed="900" data-start="800" data-easing="Back.easeOut">
                        <img src="" alt="">
                    </div>
                    <div class="tp-caption sft slider__marker" data-x="right" data-y="15" data-hoffset="90"
                        data-speed="800" data-start="1400" data-whitespace="nowrap" data-easing="Back.easeOut">Sale
                    </div>
                    <div class="tp-caption lfr slider__discount" data-x="right" data-y="120" data-hoffset="30"
                        data-speed="1200" data-start="2100" data-whitespace="nowrap" data-easing="Back.easeOut">- 35%
                    </div>
                    <div class="tp-caption sft slider__about" data-x="right" data-y="270" data-hoffset="30"
                        data-whitespace="nowrap" data-speed="800" data-start="1400" data-easing="Back.easeOut">on any
                        laptop</div>
                    <div class="tp-caption customin customout slider__btn slider__btn--mobile tp-resizeme"
                        data-x="right" data-y="360" data-hoffset="30" data-speed="800" data-start="3200"
                        data-easing="Back.easeOut"
                        data-transform_out="x:0;y:180;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:1;scaleY:1;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
                        data-transform_in="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0;scaleY:0;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;">
                    </div>
                </li>
                <!-- Slide -->
                <!-- end slide -->
            </ul>
        </div>
    </div>


    <!-- Slider placeholder for mobile view (second variant) -->
    <div class="mobile-full-placeholeder full-placeholeder--shop">
        <h2 class="slider__heading--sm-danger recal_prod_desc_1"></h2>
        <h2 class="slider__heading--lg-primary recal_prod_title_1"></h2>
        <img class="recal_prod_image_1" src="" alt="">
        <a class="btn btn-warning btn--decorated" href="#">{{ i18n "buy" }}</a>
    </div>
    <!-- end revolution full width slider -->
    <div class="service-shot">
        <div class="container">
            <div class="service-shot__item service-shot__item--track">
                <p class="service-shot__name">{{ i18n "amazonpremium" }}</p>
            </div>
            <div class="service-shot__item service-shot__item--quality">
                <p class="service-shot__name">{{ i18n "selectioned" }}</p>
            </div>
            <div class="service-shot__item service-shot__item--support">
                <p class="service-shot__name">{{ i18n "amazonservice" }}</p>
            </div>
        </div>
    </div>
    <div class="col-sm-6 col-md-4 recal_product_template" style="display: none">
        <!-- Product preview -->
        <div class="product product--round cd-item">
            <div class="product__control">
                <a class="product__control__item product__control-left recal_prod_link" href="#"><i
                        class="fa fa-link"></i></a>
                <a class="product__control__item product__control-right cd-trigger" href="#"><i
                        class="fa fa-search"></i></a>
                <!-- Info for quick view -->
                <div class="product__item-describe product">
                    <p class="product__price recal_prod_price"></p>
                    <p class="product__title recal_prod_title"></p>
                    <p class="product__info recal_prod_desc"></p>
                    <div class="product__action">
                        <a class="btn btn-warning btn--decorated product__btn recal_prod_link" target="_blank"
                            href="#">{{ i18n "buy" }}</a>
                    </div>

                </div>
            </div>
            <div class="product__photo recal_prod_image">
                <img class="" src="#" alt="">
            </div>
            <a class="product__title recal_prod_title recal_prod_link" target="_blank" href="#"></a>
            <p class="product__price recal_prod_price"></p>
        </div>
    </div>
    <section class="recal_category_template" style="display: none">
        <div class="block-title recal_category_title"></div>
        <div class="row product-wrapper cd-items cd-container recalbox_main_list"></div>
    </section>

    <section class="container">

        <div class="row">
            <div class="recal_categories_container col-sm-9"></div>
            <aside class="recal_sidebar col-sm-3">
                <div class="sidebar">
                    <h2 class="heading block-title--top-large heading--section heading--first">Categories</h2>
                    <ul class="list list--marker category_list">
                        <li class="list__item"><a class="list__link recal_cat_selection" data-cat-id='all'
                                href="#">{{ i18n "allcats" }}</a></li>
                    </ul>
                </div>
            </aside>
        </div>
    </section>
    <div class="cd-quick-view">
        <div class="cd-slider-wrapper">
        </div>
        <!-- cd-slider-wrapper -->
        <div class="cd-item-info">
        </div>
        <!-- cd-item-info -->
        <a href="#" class="cd-close">Close</a>
    </div>
</div>
<script src='{{ (resources.Get "javascripts/googleSheet-api.js" | resources.Minify).Permalink }}'></script>
<script src='{{ (resources.Get "javascripts/shop-ui.js" | resources.Minify).Permalink }}'></script>

<script src='{{ "allec/external/rs-plugin/js/jquery.themepunch.tools.min.js?rev=5.0" | relURL }}'></script>
<script src='{{ "allec/external/rs-plugin/js/jquery.themepunch.revolution.min.js?rev=5.0" | relURL }}'></script>

<script src='{{ "allec/external/quickview/js/velocity.min.js" | relURL }}'></script>
<script src='{{ (resources.Get "javascripts/quickviewcustom.js" | resources.Minify).Permalink }}'></script>
<script src='{{ (resources.Get "allec/external/raty/jquery.raty.js" | resources.Minify).Permalink }}'></script>

<script>
    $(document).ready(function () {
        revAlternative();
        cart();
        preloader();
        ratyDefault();
        scrollSlider();
        googleSheet.loadBoutique("{{ .Params.amazoncountry }}", function (boutique) {
            populateAmazonShop(boutique);
        });
    });

</script>

{{ end }}